@charset "utf-8";

@import "abstracts/_variables.scss";
@import "abstracts/mixins/_font-face.scss";
@import "components/base-components/ww-button";
@import "components/base-components/ww-slider";
@import "components/base-components/ww-switch";
@import "components/base-components/ww-list";
@import "components/base-components/ww-list-item__label";
@import "components/base-components/ww-list-item__title";
@import "components/base-components/ww-list-item__subtitle";
@import "components/base-components/ww-list-item__icon";
@import "components/base-components/ww-list-item";
@import "components/base-components/ww-input";
@import "components/base-components/ww-textarea";
@import "components/base-components/ww-paging-indicator";
@import "components/base-components/ww-banner";
@import "components/base-components/ww-banner__title";
@import "components/base-components/ww-banner__subtitle";
@import "components/base-components/ww-fab";
@import "components/base-components/ww-picker";
@import "components/ww-icon";
@import "components/base-components/ww-image-gallery";

html {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

body {
  width: 100%;
  margin: 0;
  padding-bottom: 10px;
  background-color: #fafafa;
  overflow-x: hidden;
}

.ww-body--material {
  background-color: white;
}

.ww-no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .ww-list {
    background-image: -webkit-linear-gradient(bottom, #ccc, #ccc 50%, transparent 50%),
    -webkit-linear-gradient(top, #ccc, #ccc 50%, transparent 50%);
    background-image: linear-gradient(0deg, #ccc, #ccc 50%, transparent 50%),
    linear-gradient(180deg, #ccc, #ccc 50%, transparent 50%);
  }
}

.ww-list-item:last-child > .ww-list-item__center {
  border-bottom: none;
}

.ww-list-item:last-child > .ww-list-item__right {
  border-bottom: none;
}

.ww-list-header--noborderbottom {
  border-bottom: none;
}

.ww-list--noborder {
  border-top: none;
  border-bottom: none;
  background-image: none;
}

.ww-list--nobordertop {
  border-top: none;
}

.ww-list--nobordertop--material {
  border-top: none;
}

.ww-list-item--chevron:before {
  border-right: 2px solid #c7c7cc;
  border-bottom: 2px solid #c7c7cc;
  position: absolute;
  content: '';
  width: 7px;
  height: 7px;
  background-color: transparent;
  -webkit-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
  right: 16px;
  top: 50%;
  z-index: 5;
}

.ww-list--inset {
  margin: 0 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-image: none;
}

.ww-list-item__thumbnail {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  display: block;
  margin: 0;
}

.ww-list-item--material:first-child {
  box-shadow: none;
}

.ww-list-item--material.list-item--longdivider {
  border-bottom: 1px solid #eee;
  border-bottom: none;
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: -webkit-linear-gradient(bottom, #eee, #eee 100%);
  background-image: linear-gradient(0deg, #eee, #eee 100%);
}

.ww-list-header--material:not(:first-of-type) {
  border-top: none;
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: top;
  background-image: -webkit-linear-gradient(top, #eee, #eee 100%);
  background-image: linear-gradient(180deg, #eee, #eee 100%);
  padding-top: 16px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .ww-list-header--material:not(:first-of-type) {
    background-image: -webkit-linear-gradient(top, #eee, #eee 50%, transparent 50%);
    background-image: linear-gradient(180deg, #eee, #eee 50%, transparent 50%);
  }
}

.ww-list-item--material__thumbnail {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.ww-list-item--material__icon {
  font-size: 20px;
  padding: 0 4px;
}

.ww-list-item--nodivider__center,
.ww-list-item--nodivider__right,
.ww-list-item--nodivider:before {
  border: none;
  background-image: none;
}

.ww-list-item--longdivider {
  border-bottom: 1px solid #ccc;
  border-bottom: none;
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: -webkit-linear-gradient(bottom, #ccc, #ccc 100%);
  background-image: linear-gradient(0deg, #ccc, #ccc 100%);
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .ww-list-item--longdivider {
    background-image: -webkit-linear-gradient(bottom, #ccc, #ccc 50%, transparent 50%);
    background-image: linear-gradient(0deg, #ccc, #ccc 50%, transparent 50%);
  }
}

.ww-list-item--longdivider:last-of-type {
  border: none;
  background-image: none;
}

.ww-list-item--longdivider__center {
  border: none;
  background-image: none;
}

.ww-list-item--longdivider__right {
  border: none;
  background-image: none;
}

.ww-list-item--longdivider.list-item--chevron:before { /* FIXME */
  border: none;
  background-image: none;
}

.ww-list-title {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  line-height: normal;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: -apple-system, 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  display: block;
  color: #6d6d72;
  text-align: left;
  box-sizing: border-box;
  padding: 0 0 0 16px;
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 24px;
}

.ww-list-title--material {
  font-family: 'Roboto', 'Noto', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  color: #757575;
  font-size: 14px;
  margin: 0;
  padding: 12px 0 12px 16px;
  font-weight: 500;
  line-height: 24px;
}

.badge-red-circle {
  background-color: #da1e50;
  border-radius: 50%;
  height: 9px;
  width: 9px;
  margin-left: 9px;
}

.badge-green-circle {
  background-color: #2ba451;
  border-radius: 50%;
  height: 9px;
  width: 9px;
  margin-left: 9px;
}

.badge-yellow-circle {
  background-color: #fdaf2e;
  border-radius: 50%;
  height: 9px;
  width: 9px;
  margin-left: 9px;
}

.badge-default {
  background-color: #DA1E50;
  border-radius: 55px;
  height: 21px;
  width: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 13px;
  margin-left: 9px;
}

.badge-default--material {
  width: 21px;
  height: 21px;
  font-size: 12px;
  border-radius: 50%;
}

.badge-default--material > :first-child {
  margin-top: 1px;
}

.badge-red-circle:last-child {
  margin-right: 3px;
}

.badge-yellow-circle:last-child {
  margin-right: 3px;
}

.badge-green-circle:last-child {
  margin-right: 3px;
}

.badge-default:last-child {
  margin-right: 3px;
}

.ww-search-input-container {
  background-color: white;
  box-sizing: border-box;
  border: solid #e5e6e8 1px;
  border-radius: 5px;
  width: 90%;
  height: 44px;
  margin-left: 5%;
  box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.69);
  display: flex;
  align-items: center;
  flex-direction: row;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ww-search-input-container--material {

}

.ww-search-input {
  width: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: -apple-system, 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2em;
  padding-left: 6px;
  padding-right: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ww-search-input--material {

}

.ww-search-input-icon-container {
  padding: 7px;
  margin-bottom: -7px;
}

.icon-search {
  margin-top: 4px;
}

.icon-search:before {
  font-size: 26px;
  content: "b";
  color: #a8a8a8;
}

.ww-search-view {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #fafafa;
  box-shadow: 0px -1px 2px -1px rgba(0, 0, 0, 0.75);
  /*background-color:red;*/
  width: 100%;
  height: 100%;
  position: fixed;
  top: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.ww-search-bar {
  box-sizing: border-box;
  background-color: #fff;
  width: 100%;
  height: 46px;
  min-height: 46px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #eee;
  align-items: center;
}

.ww-search-bar--material {
  background-color: #1f5295;
  height: 64px;
  min-height: 64px;
  border-bottom: 2px solid #bbbbbb;
  padding: 0;
}

.ww-search-bar-icon-container--material {
  padding: 20px;
}

.ww-search-bar-input-container {
  border-radius: 5px;
  background-color: #e5e6e8;
  min-width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 28px;
}

.ww-search-bar-input {
  font-family: -apple-system, 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5e6e8;
  outline: none;
  border: none;
  font-size: 14px;
  width: 100%;
}

.ww-search-bar-input--material {
  font-family: 'Roboto', 'Noto', sans-serif;
  background-color: #1f5295;
  outline: none;
  border: none;
  color: white;
  font-size: 18px;
  width: 100%;
  padding-right: 20px;
}

.ww-search-bar-input::-webkit-input-placeholder {
  font-size: 14px;
}

.ww-search-bar-input--material::-webkit-input-placeholder {
  color: #94b3d5;
  font-size: 18px;
}

.ww-search-view-list-container {
  flex-grow: 1;
  overflow: auto;
}

.ww-search-bar-search-icon-container {
  margin-bottom: -6px;
  padding-left: 7.5px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}

.ww-search-bar-clear-icon-container {
  margin-bottom: -4px;
  padding: 7.5px 7.5px 7.5px 0;
}

.ww-search-bar-text-container {
  display: inline-block;
  flex-grow: 1;
  max-width: 50%;
  min-width: 60px;
  padding: 11px 6px 11px 11px;
  font-family: -apple-system, 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
  font-size: 17px;
  color: #1f5295;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon-search-input-small:before {
  content: "i";
  color: #b5b5b5;
  font-size: 17px;
}

h1, h2, h3, h4, h5, h6 {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  padding-left: 14px;
  padding-right: 14px;
  font-family: 'Roboto', 'Noto', -apple-system, 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
  vertical-align: baseline;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 15px;
}

.ww-font-thin {
  font-weight: 100;
  font-style: normal;
}

.ww-font-light {
  font-weight: 300;
  font-style: normal;
}

.ww-font-regular {
  font-weight: 400;
  font-style: normal;
}

.ww-font-medium {
  font-weight: 500;
  font-style: normal;
}

.ww-font-bold {
  font-weight: 700;
  font-style: normal;
}

.ww-font-black {
  font-weight: 900;
  font-style: normal;
}

.ww-wide-image {
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ww-circled-image {
  display: flex;
  overflow: hidden;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ww-list-item-input-label {
  box-sizing: border-box;
  font-family: -apple-system, 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  color: #bebebe;
  border: none;
  margin: 0 0 -1px 0;
  border-radius: 0 !important;
  outline: none;
  padding: 0 !important;
  line-height: 1.2em;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  max-width: 100%;
}

.ww-list-item-input-label--material {
  font-family: 'Roboto', 'Noto', sans-serif;
}

.ww-list-item-input-title {
  box-sizing: border-box;
  font-family: -apple-system, 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  border: none;
  margin: 0 0 -1px 0;
  border-radius: 0 !important;
  outline: none;
  padding: 0 !important;
  line-height: 1.2em;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  max-width: 100%;
  color: #1f1f21;
}

.ww-list-item-input-title--material {
  font-family: 'Roboto', 'Noto', sans-serif;
}

.ww-fake-span-input-label {
  position: absolute;
  height: 0;
  overflow: hidden;
  white-space: pre;
  font-weight: 400;
  font-size: 14px;
  font-family: -apple-system, 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
}

.ww-fake-span-input-label--material {
  font-family: 'Roboto', 'Noto', sans-serif;
}

.ww-fake-span-input-title {
  position: absolute;
  height: 0;
  overflow: hidden;
  white-space: pre;
  font-weight: 400;
  font-size: 16px;
  font-family: -apple-system, 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
}

.ww-fake-span-input-title--material {
  font-family: 'Roboto', 'Noto', sans-serif;
}

.ww-fake-hidden-select {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
  left: -50px;
}