@charset "utf-8";

@import "abstracts/mixins/_font-face.scss";
@import "components/ww-button";
@import "components/ww-switch";

@include font-face(workwell-font, "/assets/fonts/workwell-font", normal, normal, eot svg ttf woff);

$roboto: 'Roboto', serif;

[data-icon]:before {
  font-family: "workwell-font", serif !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "workwell-font", serif !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron:before {
  -webkit-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
  border-right: 2px solid #c7c7cc;
  border-bottom: 2px solid #c7c7cc;
  position: absolute;
  content: '';
  width: 7px;
  height: 7px;
  background-color: transparent;
  -webkit-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
  right: 16px;
  top: 50%;
  z-index: 5;
}

/*.icon-chevron:before {
    content: "\61";
    color: #989898;
}*/

.icon-check:before {
  content: "a";
  color: #1c5094;
  margin-right: -4px;
}

.icon-check--material:before {
  content: "c";
  color: #1f5295;
  margin-right: -4px;
}

.icon-check-off--material:before {
  content: "b";
  color: #a8a8a8;
  margin-right: -4px;
}

.icon-select:before {
  content: "a";
  color: #1c5094;
  margin-right: -4px;
}

.icon-select--material:before {
  content: "f";
  color: #1f5295;
  margin-right: -4px;
}

.icon-select-off--material:before {
  content: "e";
  color: #a8a8a8;
  margin-right: -4px;
}

.icon-close--material:before {
  content: "g";
  color: #fff;
  font-size: 25px;
}

.icon-clear:before {
  content: "h";
  color: #b5b5b5;
  font-size: 14px;
}

.icon-search-input:before {
  content: "i";
  font-size: 25px;
  color: black;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #fafafa;
}

/*~
  name: List
  category: List
  elements: ww-list ww-list-item
  markup: |
    <ul class="ww-list">
      <li class="ww-list-item">
        <div class="ww-list-item__center">Dog</div>
      </li>
      <li class="ww-list-item">
        <div class="ww-list-item__center">Cat</div>
      </li>
      <li class="ww-list-item">
        <div class="ww-list-item__center">Hamster</div>
      </li>
    </ul>
*/
.ww-list {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  /*border: none;*/
  line-height: normal;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: -apple-system, 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  list-style-type: none;
  text-align: left;
  display: block;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  border-top: solid 0.5px #ccc;
  border-bottom: solid 0.5px #ccc;
  background-image: -webkit-linear-gradient(#ccc, #ccc),
  -webkit-linear-gradient(#ccc, #ccc);
  background-image: linear-gradient(#ccc, #ccc),
  linear-gradient(#ccc, #ccc);
  background-size: 100% 0px, 100% 0px;
  background-repeat: no-repeat;
  background-position: bottom, top;
  background-color: #fff;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* Non-prefixed version, currently
                                   supported by Chrome and Opera */
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .ww-list {
    background-image: -webkit-linear-gradient(bottom, #ccc, #ccc 50%, transparent 50%),
    -webkit-linear-gradient(top, #ccc, #ccc 50%, transparent 50%);
    background-image: linear-gradient(0deg, #ccc, #ccc 50%, transparent 50%),
    linear-gradient(180deg, #ccc, #ccc 50%, transparent 50%);
  }
}

.ww-list-item {
  width: 100%;
  position: relative;
  list-style: none;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 0 0 14px;
  /*margin: 0 0 -1px 0;*/
  color: #1f1f21;
  background-color: #ffffff;
  border-color: #ccc;
  /*-webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;*/
}

.ww-list-item__left {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 14px 12px 0;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  line-height: 1.2em;
  min-height: 44px;
}

.ww-list-item__left:empty {
  width: 0;
  min-width: 0;
  padding: 0;
  margin: 0;
}

.ww-list-item__center {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  margin-right: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  margin-left: 0;
  /*border-bottom: none;*/
  /*background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: bottom;*/
  /*background-image: -webkit-linear-gradient(bottom, #ccc, #ccc 100%);
  background-image: linear-gradient(0deg, #ccc, #ccc 100%);*/
  border-color: #ccc;
  border-bottom: 0.5px solid #ccc;
  padding: 12px 6px 12px 0;
  line-height: 1.2em;
  min-height: 44px;
  min-width: 0;
}

.ww-list-item:last-child > .ww-list-item__center {
  border-bottom: none;
}

.ww-list-item:last-child > .ww-list-item__right {
  border-bottom: none;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .ww-list-item__center {
    /*background-image: -webkit-linear-gradient(bottom, #ccc, #ccc 50%, transparent 50%);
    background-image: linear-gradient(0deg, #ccc, #ccc 50%, transparent 50%);*/
  }
}

.ww-list-item__right {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  padding: 12px 12px 12px 0;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  /*border-bottom: none;*/
  /*background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: bottom;*/
  /*background-image: -webkit-linear-gradient(bottom, #ccc, #ccc 100%);
  background-image: linear-gradient(0deg, #ccc, #ccc 100%);*/
  border-color: #ccc;
  border-bottom: 0.5px solid #ccc;
  line-height: 1.2em;
  min-height: 44px;
  max-height: 44px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .ww-list-item__right {
    /*background-image: -webkit-linear-gradient(bottom, #ccc, #ccc 50%, transparent 50%);
    background-image: linear-gradient(0deg, #ccc, #ccc 50%, transparent 50%);*/
  }
}

.ww-list-header {
  margin: 0;
  list-style: none;
  text-align: left;
  display: block;
  box-sizing: border-box;
  padding: 0 0 0 15px;
  font-size: 12px;
  font-weight: 600;
  color: #989898;
  min-height: 24px;
  line-height: 25px;
  text-transform: uppercase;
  position: relative;
  border-bottom: solid 0.5px #ccc;
  /*background-color: #efeff4;*/
  background-color: #fafafa;
  background-size: 100% 0px;
  background-repeat: no-repeat;
  background-position: top;
  background-image: -webkit-linear-gradient(bottom, #ccc, #ccc 100%);
  background-image: linear-gradient(0deg, #ccc, #ccc 100%);
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .ww-list-header {
    background-image: -webkit-linear-gradient(top, #ccc, #ccc 50%, transparent 50%);
    background-image: linear-gradient(180deg, #ccc, #ccc 50%, transparent 50%);
  }
}

.ww-list-header--noborderbottom {
  border-bottom: none;
}

/*~
  name: Noborder List
  category: List
  elements: ww-list-item
  markup: |
    <ul class="ww-list ww-list--noborder">
      <li class="ww-list-item ww-list-item--noborder">
        <div class="ww-list-item__center">Item</div>
      </li>
      <li class="ww-list-item ww-list-item--noborder">
        <div class="ww-list-item__center">Item</div>
      </li>
    </ul>
 */
.ww-list--noborder {
  border-top: none;
  border-bottom: none;
  background-image: none;
}

.ww-list--nobordertop {
  border-top: none;
}

.ww-list--nobordertop--material {
  border-top: none;
}

/*~
  name: Category List Header
  category: List
  elements: ww-list ww-list-header ww-list-item
  markup: |
    <ul class="ww-list">
      <li class="ww-list-header">
        Header
      </li>
      <li class="ww-list-item">
        <div class="ww-list-item__center">Item</div>
      </li>
      <li class="ww-list-item">
        <div class="ww-list-item__center">Item</div>
      </li>
      <li class="ww-list-item">
        <div class="ww-list-item__center">Item</div>
      </li>
    </ul>
 */
/*~
  name: Tappable List
  category: List
  elements: ww-list ww-list-item
  markup: |
    <ul class="ww-list">
      <li class="ww-list-item ww-list-item--tappable">
        <div class="ww-list-item__center">Tappable Item</div>
      </li>
      <li class="ww-list-item ww-list-item--tappable">
        <div class="ww-list-item__center">Tappable Item</div>
      </li>
      <li class="ww-list-item ww-list-item--tappable">
        <div class="ww-list-item__center">Tappable Item</div>
      </li>
    </ul>
 */
.ww-list-item--tappable:active {
  /*-webkit-transition: none;
  transition: none;
  background-color: #d9d9d9;*/
}

/*~
  name: Switch in List Item
  category: List
  elements: ww-list ww-list-item ww-switch
  markup: |
    <ul class="ww-list">
      <li class="ww-list-item">
        <div class="ww-list-item__center">
          Label
        </div>
        <div class="ww-list-item__right">
          <label class="ww-switch">
            <input type="checkbox" class="ww-switch__input" checked>
            <div class="ww-switch__toggle">
              <div class="ww-switch__handle"></div>
            </div>
          </label>
        </div>
      </li>
      <li class="ww-list-item">
        <div class="ww-list-item__center">
          Label
        </div>
        <div class="ww-list-item__right">
          <label class="ww-switch">
            <input type="checkbox" class="ww-switch__input">
            <div class="ww-switch__toggle">
              <div class="ww-switch__handle"></div>
            </div>
          </label>
        </div>
      </li>
    </ul>
*/
/*~
  name: List Item with Chevron
  category: List
  elements: ww-list ww-list-item
  markup: |
    <ul class="ww-list">
      <li class="ww-list-item ww-list-item--chevron">
        <div class="ww-list-item__center">Item A</div>
      </li>
      <li class="ww-list-item ww-list-item--chevron">
        <div class="ww-list-item__center">Item B</div>
      </li>
    </ul>
 */
.ww-list-item--chevron:before {
  border-right: 2px solid #c7c7cc;
  border-bottom: 2px solid #c7c7cc;
  position: absolute;
  content: '';
  width: 7px;
  height: 7px;
  background-color: transparent;
  -webkit-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
  right: 16px;
  top: 50%;
  z-index: 5;

}

/*~
  name: Inset List
  category: List
  elements: ww-list ww-list-item
  markup: |
    <ul class="ww-list ww-list--inset">
      <li class="ww-list-item ww-list--inset__item ww-list-item--chevron ww-list-item--tappable">
        <div class="ww-list-item__center">List Item with Chevron</div>
      </li>
      <li class="ww-list-item ww-list--inset__item ww-list-item--chevron ww-list-item--tappable">
        <div class="ww-list-item__center">List Item with Chevron</div>
      </li>
    </ul>
 */
.ww-list--inset {
  margin: 0 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-image: none;
}

/*~
  name: Radio Button in List Item
  category: List
  elements: ww-list ww-list-item ww-input
  markup: |
    <ul class="ww-list">
      <li class="ww-list-item ww-list-item--tappable">
        <div class="ww-list-item__left">
          <label class="ww-radio-button">
            <input type="radio" id="r1" class="ww-radio-button__input" name="r" checked="checked">
            <div class="ww-radio-button__checkmark"></div>
          </label>
        </div>
        <label for="r1" class="ww-list-item__center">
          Radio Button
        </label>
      </li>
      <li class="ww-list-item ww-list-item--tappable">
        <div class="ww-list-item__left">
          <label class="ww-radio-button">
            <input type="radio" id="r2" class="ww-radio-button__input" name="r">
            <div class="ww-radio-button__checkmark"></div>
          </label>
        </div>
        <label for="r2" class="ww-list-item__center">
          Radio Button
        </label>
      </li>
    </ul>
*/
/*~
  name: Checkbox in List Item
  category: List
  elements: ww-list ww-list-item ww-input
  markup: |
    <ul class="ww-list">
      <li class="ww-list-item ww-list-item--tappable">
        <div class="ww-list-item__left">
          <label class="ww-checkbox">
            <input type="checkbox" id="checkbox1" class="ww-checkbox__input" name="c" checked="checked">
            <div class="ww-checkbox__checkmark"></div>
          </label>
        </div>
        <label for="checkbox1" class="ww-list-item__center">
          Checkbox
        </label>
      </li>
      <li class="ww-list-item ww-list-item--tappable">
        <div class="ww-list-item__left">
          <label class="ww-checkbox">
            <input type="checkbox" id="checkbox2" class="ww-checkbox__input" name="c">
            <div class="ww-checkbox__checkmark"></div>
          </label>
        </div>
        <label for="checkbox2" class="ww-list-item__center">
          Checkbox
        </label>
      </li>
    </ul>
*/
/*~
  name: No border Checkbox in List Item
  category: List
  elements: ww-list ww-list-item ww-input
  markup: |
    <ul class="ww-list">
      <li class="ww-list-item ww-list-item--tappable">
        <div class="ww-list-item__left">
          <label class="ww-checkbox ww-checkbox--noborder">
            <input id="s1" type="checkbox" class="ww-checkbox__input ww-checkbox--noborder__input">
            <div class="ww-checkbox__checkmark ww-checkbox--noborder ww-checkbox--noborder__checkmark"></div>
          </label>
        </div>
        <label for="s1" class="ww-list-item__center">
          Checkbox
        </label>
      </li>
      <li class="ww-list-item ww-list-item--tappable">
        <div class="ww-list-item__left">
          <label class="ww-checkbox ww-checkbox--noborder">
            <input id="s2" type="checkbox" class="ww-checkbox__input ww-checkbox--noborder__input" checked>
            <div class="ww-checkbox__checkmark ww-checkbox--noborder ww-checkbox--noborder__checkmark"></div>
          </label>
        </div>
        <label for="s2" class="ww-list-item__center">
          Checkbox
        </label>
      </li>
    </ul>
*/
/*~
  name: Text Input in List Item
  category: List
  elements: ww-list ww-list-item ww-input
  markup: |
    <ul class="ww-list">
      <li class="ww-list-item">
        <div class="ww-list-item__center">
          <input type="text" class="ww-text-input" placeholder="Name">
        </div>
      </li>
      <li class="ww-list-item">
        <div class="ww-list-item__center">
          <input type="text" class="ww-text-input" placeholder="Email">
        </div>
      </li>
    </ul>
*/
/*~
  name: Textarea in List Item
  category: List
  elements: ww-list ww-list-item
  markup: |
    <ul class="ww-list">
      <li class="ww-list-item">
        <div class="ww-list-item__center">
          <textarea class="ww-textarea ww-textarea--transparent" placeholder="Text message"></textarea>
        </div>
      </li>
    </ul>
*/
/*~
  name: Right Label in List Item
  category: List
  elements: ww-list ww-list-item
  markup: |
    <ul class="ww-list">
      <li class="ww-list-item">
        <div class="ww-list-item__center">
          Title
        </div>
        <div class="ww-list-item__right">
          <div class="ww-list-item__label">Label</div>
        </div>
      </li>
    </ul>
*/
.ww-list-item__label {
  font-size: 14px;
  /*padding: 0 4px;*/
  color: #bebebe;
}

/*~
  name: List Item with Subtitle
  category: List
  elements: ww-list ww-list-item
  markup: |
    <ul class="ww-list">
      <li class="ww-list-item">
        <div class="ww-list-item__center">
          <div class="ww-list-item__title">
            Title
          </div>
          <div class="ww-list-item__subtitle">
            Subtitle
          </div>
        </div>
      </li>
    </ul>
*/
.ww-list-item__title {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  /*-ms-flex-item-align: end;
  align-self: flex-end;*/
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ww-list-item__subtitle {
  opacity: 0.75;
  font-size: 14px;
  color: #989898;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-item-align: start;
  align-self: flex-start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*~
  name: List Item with Thumbnail
  category: List
  elements: ww-list ww-list-item
  markup: |
    <ul class="ww-list">
      <li class="ww-list-item">
        <div class="ww-list-item__left">
          <img class="ww-list-item__thumbnail" src="http://placekitten.com/g/40/40" alt="Cute kitten">
        </div>

        <div class="ww-list-item__center">
          <div class="ww-list-item__title">Lily</div>
          <div class="ww-list-item__subtitle">Very friendly cat</div>
        </div>
      </li>

      <li class="ww-list-item">
        <div class="ww-list-item__left">
          <img class="ww-list-item__thumbnail" src="http://placekitten.com/g/40/40" alt="Cute kitten">
        </div>

        <div class="ww-list-item__center">
          <div class="ww-list-item__title">Molly</div>
          <div class="ww-list-item__subtitle">Loves tuna!</div>
        </div>
      </li>
    </ul>
*/
.ww-list-item__thumbnail {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  display: block;
  margin: 0;
}

/*~
  name: List Item with Icon
  category: List
  elements: ww-list ww-list-item
  markup: |
    <ul class="ww-list">
      <li class="ww-list-item">
        <div class="ww-list-item__left">
          <img class="ww-list-item__thumbnail" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAIAAAADnC86AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wwJCB8v/9zErgAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAvSURBVFjD7c0BDQAACAMgtX+KJzWGm4MCdJK6MHVELBaLxWKxWCwWi8VisVj8MV7qBgI2A8rYpgAAAABJRU5ErkJggg==">
        </div>

        <div class="ww-list-item__center">
          <div class="ww-list-item__title">Alice</div>
          <div class="ww-list-item__subtitle">Description</div>
        </div>

        <div class="ww-list-item__right">
          <i class="ww-ion-ios-information ww-list-item__icon"></i>
        </div>
      </li>

      <li class="ww-list-item">
        <div class="ww-list-item__left">
          <img class="ww-list-item__thumbnail" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAIAAAADnC86AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wwJCB8v/9zErgAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAvSURBVFjD7c0BDQAACAMgtX+KJzWGm4MCdJK6MHVELBaLxWKxWCwWi8VisVj8MV7qBgI2A8rYpgAAAABJRU5ErkJggg==">
        </div>

        <div class="ww-list-item__center">
          <div class="ww-list-item__title">Bob</div>
          <div class="ww-list-item__subtitle">Description</div>
        </div>

        <div class="ww-list-item__right">
          <i class="ww-ion-ios-information ww-list-item__icon"></i>
        </div>
      </li>
    </ul>
*/
.ww-list-item__icon {
  margin-left: 11px;
  font-size: 22px;
  padding: 0 6px;
}

/*~
  name: Material List
  category: List
  elements: ww-list ww-list-item
  markup: |
    <ul class="ww-list ww-list--material">
      <li class="ww-list-item ww-list-item--material">
        <div class="ww-list-item__center ww-list-item--material__center">
          <div class="ww-list-item__title ww-list-item--material__title">Orange</div>
          <div class="ww-list-item__subtitle ww-list-item--material__subtitle">Sweet fruit that grows on trees.</div>
        </div>
      </li>
      <li class="ww-list-item ww-list-item--material">
        <div class="ww-list-item__center ww-list-item--material__center">
          <div class="ww-list-item__title ww-list-item--material__title">Pear</div>
          <div class="ww-list-item__subtitle ww-list-item--material__subtitle">Funny-shaped fruit.</div>
        </div>
      </li>
    </ul>
*/
.ww-list--material {
  font-family: 'Roboto', 'Noto', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  background-image: none;
}

.ww-list-item--material {
  border: 0;
  padding: 0 0 0 16px;
  line-height: normal;
  border-color: #f4f4f4;
}

.ww-list-item--material__subtitle {
  margin-top: 4px;
}

.ww-list-item--material:first-child {
  box-shadow: none;
}

.ww-list-item--material__left {
  padding: 14px 0;
  min-width: 56px;
  line-height: 1;
  min-height: 48px;
}

.ww-list-item--material__left:empty,
.ww-list-item--material__center {
  padding: 14px 6px 14px 0;
  /*border-color: #eee;*/
  /*border-bottom: none;*/
  border-color: #f4f4f4;
  border-bottom: solid 0.5px #f4f4f4;
  /*background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: bottom;*/
  /*background-image: -webkit-linear-gradient(bottom, #eee, #eee 100%);
  background-image: linear-gradient(0deg, #eee, #eee 100%);*/
  min-height: 48px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .ww-list-item--material__left:empty,
  .ww-list-item--material__center {
    /*background-image: -webkit-linear-gradient(bottom, #eee, #eee 50%, transparent 50%);
    background-image: linear-gradient(0deg, #eee, #eee 50%, transparent 50%);*/
  }
}

.ww-list-item--material__right {
  padding: 12px 16px 12px 0;
  line-height: 1;
  /*border-color: #eee;*/
  border-color: #f4f4f4;
  border-bottom: solid 0.5px #f4f4f4;
  /*border-bottom: none;
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: -webkit-linear-gradient(bottom, #eee, #eee 100%);
  background-image: linear-gradient(0deg, #eee, #eee 100%);*/
  min-height: 48px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .ww-list-item--material__right {
    /*background-image: -webkit-linear-gradient(bottom, #eee, #eee 50%, transparent 50%);
    background-image: linear-gradient(0deg, #eee, #eee 50%, transparent 50%);*/
  }
}

.ww-list-item--material.list-item--longdivider {
  border-bottom: 1px solid #eee;
  border-bottom: none;
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: -webkit-linear-gradient(bottom, #eee, #eee 100%);
  background-image: linear-gradient(0deg, #eee, #eee 100%);
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .ww-list-item--material.list-item--longdivider {
    /*background-image: -webkit-linear-gradient(bottom, #eee, #eee 50%, transparent 50%);
    background-image: linear-gradient(0deg, #eee, #eee 50%, transparent 50%);*/
  }
}

/*~
  name: Material List with Header
  category: List
  elements: ww-list ww-list-item
  markup: |
    <ul class="ww-list ww-list--material">
      <li class="ww-list-header ww-list-header--material">
        Fruits
      </li>
      <li class="ww-list-item ww-list-item--material">
        <div class="ww-list-item__center ww-list-item--material__center">
          <div class="ww-list-item__title ww-list-item--material__title">Orange</div>
          <div class="ww-list-item__subtitle ww-list-item--material__subtitle">Sweet fruit that grows on trees.</div>
        </div>
      </li>
    </ul>
*/
.ww-list-header--material {
  background: #fff;
  border: none;
  font-size: 14px;
  text-transform: none;
  margin: -1px 0 0 0;
  color: #757575;
  font-weight: 500;
  padding: 8px 16px;
}

.ww-list-header--material:not(:first-of-type) {
  border-top: none;
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: top;
  background-image: -webkit-linear-gradient(top, #eee, #eee 100%);
  background-image: linear-gradient(180deg, #eee, #eee 100%);
  padding-top: 16px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .ww-list-header--material:not(:first-of-type) {
    background-image: -webkit-linear-gradient(top, #eee, #eee 50%, transparent 50%);
    background-image: linear-gradient(180deg, #eee, #eee 50%, transparent 50%);
  }
}

/*~
  name: Material List with Checkboxes
  category: List
  elements: ww-list ww-list-item ww-input
  markup: |
    <ul class="ww-list ww-list--material">
      <li class="ww-list-item ww-list-item--material">
        <div class="ww-list-item__left ww-list-item--material__left">
          <label class="ww-checkbox ww-checkbox--material">
            <input type="checkbox" id="checkbox3" class="ww-checkbox__input ww-checkbox--material__input">
            <div class="ww-checkbox__checkmark ww-checkbox--material__checkmark"></div>
          </label>
        </div>

        <label for="checkbox3" class="ww-list-item__center ww-list-item--material__center">
          <div class="ww-list-item__title ww-list-item--material__title">Notifications</div>
          <div class="ww-list-item__subtitle ww-list-item--material__subtitle">Allow notifications</div>
        </label>
      </li>

      <li class="ww-list-item ww-list-item--material">
        <div class="ww-list-item__left ww-list-item--material__left">
          <label class="ww-checkbox ww-checkbox--material">
            <input type="checkbox" id="checkbox4" class="ww-checkbox__input ww-checkbox--material__input" checked="checked">
            <div class="ww-checkbox__checkmark ww-checkbox--material__checkmark"></div>
          </label>
        </div>

        <label for="checkbox4" class="ww-list-item__center ww-list-item--material__center">
          <div class="ww-list-item__title ww-list-item--material__title">Sound</div>
          <div class="ww-list-item__subtitle ww-list-item--material__subtitle">Hangouts message</div>
        </label>
      </li>

    </ul>
*/
/*~
  name: Material List with Thumbnails
  category: List
  markup: |
    <ul class="ww-list ww-list--material">
      <li class="ww-list-item ww-list-item--material">
        <div class="ww-list-item__left ww-list-item--material__left">
          <img class="ww-list-item__thumbnail ww-list-item--material__thumbnail" src="http://placekitten.com/g/42/41" alt="Cute kitten">
        </div>

        <div class="ww-list-item__center ww-list-item--material__center">
          <div class="ww-list-item__title ww-list-item--material__title">Lily</div>
          <div class="ww-list-item__subtitle ww-list-item--material__subtitle">Very friendly cat</div>
        </div>
      </li>

      <li class="ww-list-item ww-list-item--material">
        <div class="ww-list-item__left ww-list-item--material__left">
          <img class="ww-list-item__thumbnail ww-list-item--material__thumbnail" src="http://placekitten.com/g/40/40" alt="Cute kitten">
        </div>

        <div class="ww-list-item__center ww-list-item--material__center">
          <div class="ww-list-item__title ww-list-item--material__title">Molly</div>
          <div class="ww-list-item__subtitle ww-list-item--material__subtitle">Loves tuna!</div>
        </div>
      </li>

    </ul>
*/
.ww-list-item--material__thumbnail {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

/*~
  name: Material List with Icons
  category: List
  markup: |
    <ul class="ww-list ww-list--material">
      <li class="ww-list-item ww-list-item--material">
        <div class="ww-list-item__left ww-list-item--material__left">
          <img class="ww-list-item__thumbnail ww-list-item--material__thumbnail" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAIAAAADnC86AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wwJCB8v/9zErgAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAvSURBVFjD7c0BDQAACAMgtX+KJzWGm4MCdJK6MHVELBaLxWKxWCwWi8VisVj8MV7qBgI2A8rYpgAAAABJRU5ErkJggg==">
        </div>

        <div class="ww-list-item__center ww-list-item--material__center">
          <div class="ww-list-item__title ww-list-item--material__title">Alice</div>
          <div class="ww-list-item__subtitle ww-list-item--material__subtitle">Description</div>
        </div>

        <div class="ww-list-item__right ww-list-item--material__right">
          <i style="color:#4db6ac" class="ww-list-item__icon ww-list-item--material__icon ww-zmdi ww-zmdi-comment"></i>
        </div>
      </li>

      <li class="ww-list-item ww-list-item--material">
        <div class="ww-list-item__left ww-list-item--material__left">
          <img class="ww-list-item__thumbnail ww-list-item--material__thumbnail" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAIAAAADnC86AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wwJCB8v/9zErgAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAvSURBVFjD7c0BDQAACAMgtX+KJzWGm4MCdJK6MHVELBaLxWKxWCwWi8VisVj8MV7qBgI2A8rYpgAAAABJRU5ErkJggg==">
        </div>

        <div class="ww-list-item__center ww-list-item--material__center">
          <div class="ww-list-item__title ww-list-item--material__title">Bob</div>
          <div class="ww-list-item__subtitle ww-list-item--material__subtitle">Description</div>
        </div>

        <div class="ww-list-item__right ww-list-item--material__right">
          <i style="color:#4db6ac" class="ww-list-item__icon ww-list-item--material__icon ww-zmdi ww-zmdi-comment"></i>
        </div>
      </li>
    </ul>
*/
.ww-list-item--material__icon {
  font-size: 20px;
  padding: 0 4px;
}

/*~
  name: List item without divider
  category: List
  markup: |
    <ul class="ww-list">
      <li class="ww-list-item ww-list-item--nodivider">
        <div class="ww-list-item__center ww-list-item--nodivider__center">Item</div>
      </li>
      <li class="ww-list-item ww-list-item--nodivider">
        <div class="ww-list-item__center ww-list-item--nodivider__center">Item</div>
      </li>
    </ul>
 */
.ww-list-item--nodivider__center,
.ww-list-item--nodivider__right,
.ww-list-item--nodivider:before {
  border: none;
  background-image: none;
}

/*~
  name: List item with long divider
  category: List
  markup: |
    <ul class="ww-list">
      <li class="ww-list-item ww-list-item--longdivider">
        <div class="ww-list-item__center ww-list-item--longdivider__center">Item</div>
      </li>
      <li class="ww-list-item ww-list-item--longdivider">
        <div class="ww-list-item__center ww-list-item--longdivider__center">Item</div>
      </li>
    </ul>
 */
.ww-list-item--longdivider {
  border-bottom: 1px solid #ccc;
  border-bottom: none;
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: -webkit-linear-gradient(bottom, #ccc, #ccc 100%);
  background-image: linear-gradient(0deg, #ccc, #ccc 100%);
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .ww-list-item--longdivider {
    background-image: -webkit-linear-gradient(bottom, #ccc, #ccc 50%, transparent 50%);
    background-image: linear-gradient(0deg, #ccc, #ccc 50%, transparent 50%);
  }
}

.ww-list-item--longdivider:last-of-type {
  border: none;
  background-image: none;
}

.ww-list-item--longdivider__center {
  border: none;
  background-image: none;
}

.ww-list-item--longdivider__right {
  border: none;
  background-image: none;
}

.ww-list-item--longdivider.list-item--chevron:before { /* FIXME */
  border: none;
  background-image: none;
}

/*~
  name: List title
  category: List
  markup: |
    <div class="ww-list-title">LIST TITLE</div>
    <ul class="ww-list">
      <li class="ww-list-item">
        <div class="ww-list-item__center">Item</div>
      </li>
      <li class="ww-list-item">
        <div class="ww-list-item__center">Item</div>
      </li>
    </ul>
 */
.ww-list-title {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  line-height: normal;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: -apple-system, 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  display: block;
  color: #6d6d72;
  text-align: left;
  box-sizing: border-box;
  padding: 0 0 0 16px;
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 24px;
}

/*~
  name: Material List Title
  category: List
  markup: |
    <h3 class="ww-list-title ww-list-title--material">LIST TITLE</h3>
    <ul class="ww-list ww-list--material">
      <li class="ww-list-item ww-list-item--material">
        <div class="ww-list-item__center ww-list-item--material__center">Item</div>
      </li>
      <li class="ww-list-item ww-list-item--material">
        <div class="ww-list-item__center ww-list-item--material__center">Item</div>
      </li>
    </ul>
 */
.ww-list-title--material {
  font-family: 'Roboto', 'Noto', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  color: #757575;
  font-size: 14px;
  margin: 0;
  padding: 12px 0 12px 16px;
  font-weight: 500;
  line-height: 24px;
}

.badge-red-circle {
  background-color: #da1e50;
  border-radius: 50%;
  height: 9px;
  width: 9px;
  margin-left: 9px;
}

.badge-green-circle {
  background-color: #2ba451;
  border-radius: 50%;
  height: 9px;
  width: 9px;
  margin-left: 9px;
}

.badge-yellow-circle {
  background-color: #fdaf2e;
  border-radius: 50%;
  height: 9px;
  width: 9px;
  margin-left: 9px;
}

.badge-default {
  background-color: #DA1E50;
  border-radius: 55px;
  height: 21px;
  width: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 13px;
  margin-left: 9px;
}

.badge-default--material {
  width: 21px;
  height: 21px;
  font-size: 12px;
  border-radius: 50%;
}

.badge-default--material > :first-child {
  margin-top: 1px;
}

.badge-red-circle:last-child {
  margin-right: 3px;
}

.badge-yellow-circle:last-child {
  margin-right: 3px;
}

.badge-green-circle:last-child {
  margin-right: 3px;
}

.badge-default:last-child {
  margin-right: 3px;
}

.ww-input {
  box-sizing: border-box;
  font-family: -apple-system, 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  border-top: 0.5px solid #d2d2d2;
  border-bottom: 0.5px solid #d2d2d2;
  border-left: none;
  border-right: none;
  /*padding: 0 0 0 14px;*/
  margin: 0 0 -1px 0;
  /*line-height: 14px;*/
  /* avoid cutting the placeholder in safari */
  border-radius: 0px !important;
  color: #1f1f21;
  outline: none;
  padding: 12px 6px 12px 14px;
  line-height: 1.2em;
  min-height: 44px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ww-input--material {
  font-family: 'Roboto', 'Noto', sans-serif;
}

.ww-textarea {
  box-sizing: border-box;
  font-family: -apple-system, 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-top: 0.5px solid #d2d2d2;
  border-bottom: 0.5px solid #d2d2d2;
  border-left: none;
  border-right: none;
  margin: 0 0 -1px 0;
  font-weight: 400;
  font-size: 16px;
  color: #1f1f21;
  width: 100%;
  min-height: 80px;
  border-radius: 0px !important;
  outline: none;
  /*padding: 12px 6px 12px 14px;*/
  padding: 12px 6px 12px 12px;
  line-height: 1.2em;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ww-textarea--material {
  font-family: 'Roboto', 'Noto', sans-serif;
}

.ww-textarea:disabled,
.ww-textarea[disabled] {
  -webkit-text-fill-color: #1f1f21;
  background-color: white;
  opacity: 1.0;
  cursor: default;
  pointer-events: none;
}

textarea {
  /* Remove First */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: none;
}

input[type=text] {
  /* Remove First */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=number] {
  /* Remove First */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 17px;
}

.ww-paging-indicator {
  box-sizing: border-box;
  padding: 10px;
  justify-content: center;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.ww-paging-indicator__dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #d2d2d2;
  margin-right: 8px;
}

.ww-paging-indicator__dot:last-child {
  margin-right: 0px;
}

.ww-paging-indicator__dot[selected] {
  background-color: #989898;
}

.ww-search-input-container {
  background-color: white;
  box-sizing: border-box;
  border: solid #e5e6e8 1px;
  border-radius: 5px;
  width: 90%;
  height: 44px;
  margin-left: 5%;
  box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.69);
  display: flex;
  align-items: center;
  flex-direction: row;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ww-search-input-container--material {

}

.ww-search-input {
  width: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: -apple-system, 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2em;
  padding-left: 6px;
  padding-right: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ww-search-input--material {

}

.ww-search-input-icon-container {
  padding: 7px;
  margin-bottom: -7px;
}

.icon-search {
  margin-top: 4px;
}

.icon-search:before {
  font-size: 26px;
  content: "b";
  color: #a8a8a8;
}

.ww-search-view {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #fafafa;
  box-shadow: 0px -1px 2px -1px rgba(0, 0, 0, 0.75);
  /*background-color:red;*/
  width: 100%;
  height: 100%;
  position: fixed;
  top: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.ww-search-bar {
  box-sizing: border-box;
  background-color: #fff;
  width: 100%;
  height: 46px;
  min-height: 46px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #eee;
  align-items: center;
}

.ww-search-bar--material {
  background-color: #1f5295;
  height: 64px;
  min-height: 64px;
  border-bottom: 2px solid #bbbbbb;
  padding: 0;
}

.ww-search-bar-icon-container--material {
  padding: 20px;
}

.ww-search-bar-input-container {
  border-radius: 5px;
  background-color: #e5e6e8;
  min-width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 28px;
}

.ww-search-bar-input {
  font-family: -apple-system, 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5e6e8;
  outline: none;
  border: none;
  font-size: 14px;
  width: 100%;
}

.ww-search-bar-input--material {
  font-family: 'Roboto', 'Noto', sans-serif;
  background-color: #1f5295;
  outline: none;
  border: none;
  color: white;
  font-size: 18px;
  width: 100%;
  padding-right: 20px;
}

.ww-search-bar-input::-webkit-input-placeholder {
  font-size: 14px;
}

.ww-search-bar-input--material::-webkit-input-placeholder {
  color: #94b3d5;
  font-size: 18px;
}

.ww-search-view-list-container {
  flex-grow: 1;
  overflow: auto;
}

.ww-search-bar-search-icon-container {
  margin-bottom: -6px;
  padding-left: 7.5px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}

.ww-search-bar-clear-icon-container {
  margin-bottom: -4px;
  padding: 7.5px 7.5px 7.5px 0;
}

.ww-search-bar-text-container {
  display: inline-block;
  flex-grow: 1;
  max-width: 50%;
  min-width: 60px;
  padding: 11px 6px 11px 11px;
  font-family: -apple-system, 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
  font-size: 17px;
  color: #1f5295;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon-search-input-small:before {
  content: "i";
  color: #b5b5b5;
  font-size: 17px;
}

h1, h2, h3, h4, h5, h6 {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  padding-left: 14px;
  padding-right: 14px;
  font-family: 'Roboto', 'Noto', -apple-system, 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
  vertical-align: baseline;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 15px;
}

.ww-font-thin {
  font-weight: 100;
  font-style: normal;
}

.ww-font-light {
  font-weight: 300;
  font-style: normal;
}

.ww-font-regular {
  font-weight: 400;
  font-style: normal;
}

.ww-font-medium {
  font-weight: 500;
  font-style: normal;
}

.ww-font-bold {
  font-weight: 700;
  font-style: normal;
}

.ww-font-black {
  font-weight: 900;
  font-style: normal;
}

.ww-wide-image {
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ww-circled-image {
  display: flex;
  overflow: hidden;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ww-list-item-input-label {
  box-sizing: border-box;
  font-family: -apple-system, 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  color: #bebebe;
  border: none;
  margin: 0 0 -1px 0;
  border-radius: 0 !important;
  outline: none;
  padding: 0 !important;
  line-height: 1.2em;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  max-width: 100%;
}

.ww-list-item-input-label--material {
  font-family: 'Roboto', 'Noto', sans-serif;
}

.ww-list-item-input-title {
  box-sizing: border-box;
  font-family: -apple-system, 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  border: none;
  margin: 0 0 -1px 0;
  border-radius: 0 !important;
  outline: none;
  padding: 0 !important;
  line-height: 1.2em;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  max-width: 100%;
  color: #1f1f21;
}

.ww-list-item-input-title--material {
  font-family: 'Roboto', 'Noto', sans-serif;
}

.ww-fake-span-input-label {
  position: absolute;
  height: 0;
  overflow: hidden;
  white-space: pre;
  font-weight: 400;
  font-size: 14px;
  font-family: -apple-system, 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
}

.ww-fake-span-input-label--material {
  font-family: 'Roboto', 'Noto', sans-serif;
}

.ww-fake-span-input-title {
  position: absolute;
  height: 0;
  overflow: hidden;
  white-space: pre;
  font-weight: 400;
  font-size: 16px;
  font-family: -apple-system, 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
}

.ww-fake-span-input-title--material {
  font-family: 'Roboto', 'Noto', sans-serif;
}

.ww-fake-hidden-select {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
  left: -50px;
}