// slider-specific variables (iOS)
$slider-left-bg-color-ios: #2f7bf5;
$slider-right-bg-color-ios: #bebebe;
$slider-on-bg-color-ios: #1f5295;
$slider-handle-bg-color-ios: white;
$slider-handle-shadow-size-ios: 10;
$slider-handle-size-ios: 19;

// slider-specific variables (material)
$slider-left-bg-color-material: #47a8ee;
$slider-right-bg-color-material: #bebebe;
$slider-handle-bg-color-material: #47a8ee;
$slider-handle-shadow-size-material: 10;
$slider-handle-size-material: 15;

.ww-slider {
  color: $slider-left-bg-color-ios;
  border-radius: 2px;
  width: 80px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: $slider-handle-size-ios/2 + unquote("px");
  height: 3px;
  background: $slider-right-bg-color-ios linear-gradient(
                  to right,
                  $slider-left-bg-color-ios 0%,
                  $slider-left-bg-color-ios 0%,
                  $slider-right-bg-color-ios 0%,
                  $slider-right-bg-color-ios 0%
  );

  &--material {
    color: $slider-left-bg-color-material;
    border-radius: 2px;
    display: flex;
    align-items: center;
    margin: $slider-handle-size-material/2 + $slider-handle-shadow-size-material + unquote("px");
    height: 4px;
    background: $slider-right-bg-color-material linear-gradient(
                    to right,
                    $slider-left-bg-color-material 0%,
                    $slider-left-bg-color-material 0%,
                    $slider-right-bg-color-material 0%,
                    $slider-right-bg-color-material 0%
    );
  }
}

.ww-slider__handle-container {
  box-sizing: border-box;
  position: relative;
  border-radius: 50%;
  height: $slider-handle-size-ios + unquote("px");
  width: $slider-handle-size-ios + unquote("px");
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, .25), 0 3px 2px rgba(0, 0, 0, .25);
  left: -$slider-handle-size-ios/2 + unquote("px");

  &--material {
    height: $slider-handle-size-material + unquote("px");
    width: $slider-handle-size-material + unquote("px");
    box-sizing: border-box;
    position: relative;
    left: -$slider-handle-size-material/2 + unquote("px");
    box-shadow: none;
  }
}

.ww-slider__handle-background {
  &--material {
    background-color: transparent;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    -webkit-box-direction: normal;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition-duration: 0.16s;
    transition-property: all;
  }
}

.ww-slider__handle-active-background {
  &--material {
    box-shadow: 0 0 0 $slider-handle-shadow-size-material + unquote("px") rgba($slider-handle-bg-color-material, 0.25);
  }
}

.ww-slider__handle {
  z-index: 1;
  background-color: $slider-handle-bg-color-ios;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  &--material {
    z-index: 1;
    background-color: $slider-handle-bg-color-material;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.ww-list-item__center .ww-slider {
  margin: 0 4px 0 0;
  &--material {
    margin: 0 $slider-handle-size-material/2 + $slider-handle-shadow-size-material - 4 + unquote("px") 0 0;
  }
}