@import "../../abstracts/variables";

// Button-specific variables (iOS)
$button-bg-color-ios: white;
$button-text-color-ios: #1f5295;
$button-text-color-destructive-ios: #da1e50;
$button-text-color-active-ios: #94B3D5;
$button-text-color-destructive-active-ios: #ff699b;
$button-text-color-disabled-ios: #94B3D5;

// Button-specific variables (material)
$button-bg-color-material: #1f5295;
$button-text-color-material: #FFFFFF;
$button-bg-color-destructive-material: #c1362a;
$button-text-color-destructive-material: black;
$button-text-color-active-material: #FFFFFF;
$button-text-color-destructive-active-material: black;
$button-text-color-disabled-material: rgba(0, 0, 0, .26);
$button-bg-color-disabled-material: rgba(79, 79, 79, .26);

.ww-button {
  position: relative;
  box-sizing: border-box;
  background-clip: padding-box;
  margin: 0;
  font: inherit;
  background-color: $button-bg-color-ios;
  color: $button-text-color-ios;
  border: none;
  border-top: 0.5px solid #d2d2d2;
  border-bottom: 0.5px solid #d2d2d2;
  font-family: $ios-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: auto;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0;
  vertical-align: middle;
  -webkit-transition: none;
  transition: none;
  line-height: 36px;
  padding: 4px 12px;
  width: 100%;
  text-align: center;
  display: block;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:hover {
    -webkit-transition: none;
    transition: none;
  }

  &:focus {
    outline: 0;
  }

  &:active {
    color: $button-text-color-active-ios;
    -webkit-transition: none;
    transition: none;
  }

  &--material {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: $button-text-color-material;
    background-color: $button-bg-color-material;
    border: 0 solid currentColor;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
    0 1px 5px 0 rgba(0, 0, 0, .12),
    0 3px 1px -2px rgba(0, 0, 0, .2);
    font-family: $material-font;
    min-height: 36px;
    line-height: 36px;
    padding: 0 16px;
    text-align: center;
    font-size: 15px;
    width: 94%;
    margin: 0 0 0 3%;
    border-radius: 2px;

    &:active {
      color: $button-text-color-active-material;
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14),
      0 1px 18px 0 rgba(0, 0, 0, .12),
      0 3px 5px -1px rgba(0, 0, 0, .4);
      opacity: 0.9;
      -webkit-transition: all 0.25s linear;
      transition: all 0.25s linear;
    }
  }
}

.ww-button-destructive {
  color: $button-text-color-destructive-ios;

  &:hover {
    -webkit-transition: none;
    transition: none;
  }

  &:focus {
    outline: 0;
  }

  &:active {
    color: $button-text-color-destructive-active-ios;
    -webkit-transition: none;
    transition: none;
  }

  &--material {
    background-color: $button-bg-color-destructive-material;
    color: $button-text-color-destructive-material;

    &:active {
      color: $button-text-color-destructive-active-material;
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14),
      0 1px 18px 0 rgba(0, 0, 0, .12),
      0 3px 5px -1px rgba(0, 0, 0, .4);
      opacity: 0.9;
      -webkit-transition: all 0.25s linear;
      transition: all 0.25s linear;
    }
  }
}

.ww-button:disabled,
.ww-button[disabled] {
  color: $button-text-color-disabled-ios;
  cursor: default;
  pointer-events: none;
}

.ww-button--material:disabled,
.ww-button--material[disabled] {
  -webkit-transition: none;
  transition: none;
  box-shadow: none;
  background-color: $button-bg-color-disabled-material;
  color: $button-text-color-disabled-material;
  opacity: 1;
}