@import "../../abstracts/variables";

// switch-specific variables (iOS)
$switch-bg-color-ios: #FFFFFF;
$switch-on-bg-color-ios: #1f5295;
$switch-handle-container-bg-color-ios: white;

// switch-specific variables (material)
$switch-bg-color-material: #b0afaf;
$switch-text-color-material: #1f1f21;
$switch-on-bg-color-material: #94b3d5;
$switch-handle-bg-color-material: #f1f1f1;
$switch-handle-on-bg-color-material: #1f5295;

.ww-switch {
  background-color: $switch-bg-color-ios;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 30px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  box-shadow: inset 0 0 0 2px #e5e5e5;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  background-clip: padding-box;
  position: relative;
  min-width: 51px;
  font-size: 17px;
  padding: 0 20px;
  border: none;
  overflow: visible;
  width: 51px;
  height: 32px;
  z-index: 0;
  text-align: left;
}

.ww-switch--material {
  background-color: $switch-bg-color-material;
  border-radius: 30px;
  bottom: 0;
  box-shadow: none;
  color: $switch-text-color-material;
  cursor: default;
  display: block;
  font-family: $material-font;
  font-size: 17px;
  font-stretch: normal;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: normal;
  height: 14px;
  left: 0;
  line-height: 17px;
  list-style: none outside none;

  position: relative;
  padding: 0;
  right: 0;
  text-align: left;
  top: 0;
  transition-duration: 0.35s;
  transition-property: all;
  transition-timing-function: ease-out;
  user-select: none;
  width: 36px;
  min-width: 36px;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ww-switch__handle-container {
  box-sizing: border-box;
  background-clip: padding-box;
  position: absolute;
  content: '';
  border-radius: 28px;
  height: 28px;
  width: 28px;
  background-color: $switch-handle-container-bg-color-ios;
  left: 1px;
  top: 2px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: cubic-bezier(.59, .01, .5, .99);
  transition-timing-function: cubic-bezier(.59, .01, .5, .99);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, .25), 0 3px 2px rgba(0, 0, 0, .25);
}

.ww-switch--material__handle-container {
  height: 20px;
  width: 20px;
  box-sizing: border-box;
  border-radius: 28px;
  position: relative;
  left: 0;
  top: -3px;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition-duration: 0.35s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.59, 0.01, 0.5, 0.99);
  user-select: none;
}

.ww-switch__handle-active-container {
  -webkit-transition: none;
  transition: none;
}

.ww-switch--material__handle-active-container {
  -webkit-transition: none;
  transition: none;
}

.ww-switch__handle-background {
  background-color: transparent;
  border-radius: 28px;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition-duration: 0.16s;
  transition-property: all;
}

.ww-switch--material__handle-active-background {
  box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.15);
}

.ww-switch__handle {
  box-sizing: border-box;
  border-radius: 28px;
  height: 100%;
  width: 100%;
}

.ww-switch--material__handle {
  z-index: 1;
  position: absolute;
  background-color: $switch-handle-bg-color-material;
  background-clip: padding-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 28px;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition-duration: 0.35s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.59, 0.01, 0.5, 0.99);
  box-shadow: rgba(0, 0, 0, 0.14) 0 4px 5px 0, rgba(0, 0, 0, 0.12) 0 1px 10px 0, rgba(0, 0, 0, 0.4) 0 2px 4px -1px;
}

.ww-switch__handle-on {

}

.ww-switch--material__handle-on {
  background-color: $switch-handle-on-bg-color-material;
}

.ww-switch__handle-container-on {
  left: 21px;
  box-shadow: 0 3px 2px rgba(0, 0, 0, .25);
}

.ww-switch--material__handle-container-on {
  left: 16px;
}

.ww-switch__handle-container-off {
  left: 0;
}

.ww-switch--material__handle-container-off {
  left: 0;
}

.ww-switch-on {
  box-shadow: inset 0 0 0 2px #1f5295;
  background-color: $switch-on-bg-color-ios;
}

.ww-switch-on--material {
  box-shadow: none;
  background-color: $switch-on-bg-color-material;
}