@import "../../abstracts/variables";

// BannerTitle-specific variables (iOS)

// BannerTitle-specific variables (material)

.ww-banner__title {
  font-family: $ios-font;
  color: white;
  font-size: 21px;
  margin-top: 2px;

  &--material {
    font-family: $material-font;
    font-size: 28px;
    margin-top: 5px;
  }
}