<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>

    <link rel="stylesheet" href="/distribution/css/index.css">
    <link rel="stylesheet" hreg="/distribution/css/styles.css">

    <script src="/distribution/index.bundle.js"></script>

    <title>Index</title>
</head>
<body>
<div id="general-container">
    <div id="menu-container">
        <nav>
            <ul id="nav">
                <li><a class="nav-header" href="#">List</a>
                    <ul>
                        <li><a class="nav-item" href="#icon">Icon</a></li>
                        <li><a class="nav-item" href="#label">Label</a></li>
                        <li><a class="nav-item" href="#list-header">List header</a></li>
                        <li><a class="nav-item" href="#list-item">List item</a></li>
                        <li><a class="nav-item" href="#slider">Slider</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div id="main-component-container">
        <div id="left-container">
            <div id="os-run-container">
                <div id="os-pick-container">
                    <img class="os-picker" id="ios-picker" src="distribution/img/apple-icon.png" selected=""/>
                    <div style="width:15px"></div>
                    <img class="os-picker" id="android-picker" src="distribution/img/android-icon.png"/>
                </div>
                <div id="os-pick-name">iOS</div>
            </div>
            <div id="mobile-container"></div>
        </div>
        <div id="right-container">
            <div id="html-container">
                <div id="html-editor-header">
                    <div class="editor-header">HTML</div>
                    <button id="html-run">Run</button>
                </div>
                <div id="html-editor" class="editor"></div>
            </div>
            <div id="js-container">
                <div id="js-editor-header">
                    <div class="editor-header">JS</div>
                    <button id="js-run">Run</button>
                </div>
                <div id="js-editor" class="editor"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>